@media only screen and (max-width: 600px) {
  .iframe {
    width: 450px;
    height: 300px;
  }
  .des {
    width: 450px;
  }
}

@media only screen and (max-width: 450px) {
  .iframe {
    width: 350px;
    height: 300px;
  }
  .des {
    width: 350px;
  }
}

@media only screen and (max-width: 350px) {
  .iframe {
    width: 250px;
    height: 300px;
  }
  .des {
    width: 250px;
  }
}
